.ChevronDownModal-header {
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: black;
    padding: 16px 16px 0px 16px;
}

.ChevronDownModal-tokenLable {
    border: 1px solid rgb(210, 217, 238);
    border-radius: 16px;
    padding: 4px 12px 4px 12px;
    margin: 10px 12px 0px 0px;
    width: fit-content;
    font-size: 16px;
    display: inline-block;

}

.ChevronDownModal-line {
    border: 0;
    width: 100%;
    border-top: 1px solid #222228;
    margin-top: 16px;
}

.ChevronDownModal-button {
    left: 0px;
    height: 48px;
    width: 100%;
    padding: 0px 0px;
    text-align: left;
}

.ChevronDownModal-CommonToken {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding: 0 4px 0 0;
}

.ChevronDownModal-UNK {
    /* --size: 36px; */
    border-radius: 100px;
    color: rgb(13, 17, 28);
    background-color: rgb(232, 236, 251);
    /* font-size: calc(var(--size) / 3); */
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    /* text-align: center; */
    width: 36px;
}

