.HeaderConnectWallet-signer {
    background-color: rgb(212, 214, 230);
    border: 1px solid rgb(78, 91, 13);
    color: rgb(13, 17, 28);
    font-size: 16px;
    align-items: center;
    border-radius: 9999px;
    margin-right: 20px;
    height: 26px;
    padding: 1px 6px;
}